<div class="header">
  <div class="wrap">
		<ul>
			<li>
				<a href="/index.html">
					<span><img src="/images/jiantou.jpg"/></span>
			                 天猫首页
				</a>
			</li>
			<li><span>喵，欢迎来天猫</span></li>
			<li>
				<a href="/html/login.html" id="welcome">请登录</a>
				<a href="/html/login.html" id="welcome-success" style="display: none;"></a>
			</li>
			<li>
				<a href="/html/register.html" id="hellow">免费注册</a>
				<a href="/index.html" id="hellow-success" style="display: none;">退出</a>
			</li>
		</ul>
	<div class="pull-right">
		<a href="/html/Shopping.html">我的订单</a>
		<a href="javascript:;" class="check">
			<span><img src="/images/headerCar.jpg"/></span>
			购物车<strong style="color: red;" id="acount">0</strong>件
		</a>
	 </div>
	</div>
</div>

<div class="nav">
	<div class="wrapOne">
		  <a href="javascript:;">
			 	<img class="logo" src="/images/logo.gif"/>
			 </a>
		   <div class="searchDiv">
	            <input type="text" placeholder="时尚男鞋  太阳镜 " name="keyword">
	            <button class="searchButton" type="submit">搜索</button>
	            <div class="searchBelow">
	                <span> <a href="#nowhere"> 平衡车 </a> <span>|</span></span>
	                <span> <a href="#nowhere"> 扫地机器人 </a> <span>|</span></span>
	                <span> <a href="#nowhere"> 原汁机 </a> <span>|</span></span> 
	                <span> <a href="#nowhere"> 冰箱 </a></span>
	            </div>
       
            </div>
	</div>
</div>